.container {
    display:grid;
    grid-template-columns: 1fr 2fr 2fr 1fr ;
grid-template-rows: 100px;
}

.logo {
    margin-left:35px;
grid-row: 1/1;
grid-column:2/2;
}

.search {
    margin-top:32px;
    grid-row: 1/1;
grid-column:3/3;
}

